<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body class="container-mt5">
    <div class="alert alert-success display-1">LISTADO DE EMPLEADOS</div>
    {%if empleados %}
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
            </tr>
        </thead>
        <tbody>
            {% for emp in empleados %}
            <tr>
                <td scope="row">{{ emp.id }}</td>
                <td>{{emp.nombre}}</td>
                <td>{{emp.apellido}}</td>
                <td>{{emp.edad}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
        <div class="alert alert-info">No hay empleados</div>
    {% endif %}
</body>
</html>